<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />
    <property name="log_home" value="../logs/mydubbo-client" />
	<!-- console -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_home}/info/server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_home}/info/server.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="errorRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
        </filter>
		<file>${log_home}/error/errorServer.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_home}/error/errorServer.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- root -->
	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
		<appender-ref ref="errorRollingFile" />
	</root>
	
	<!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
   <logger name="org.springframework" level="DEBUG"/>
    <logger name="com.opensymphony" level="DEBUG"/>
    <logger name="org.apache" level="DEBUG"/>
    <logger name="org.mybatis.spring" level="DEBUG"/>
	<!-- project default level -->
	<logger name="cn.wangjiannan" level="DEBUG" />
</configuration>